<div class="container-fluid">
  <h2>Student</h2>
</div>
<br/>

<span>
  <button (click)="displayStudents()" class="btn btn-default">View </button>
  <button (click)="displayForm()" class="btn btn-default">Add </button>
</span>
<br/>
<br/>
<br/>
<div class="table-responsive col-md-6" *ngIf="studentFlag">
  <table class="table" *ngIf="students && students.length">
    <thead>
      <tr>
        <th>S. No.</th>
        <th>Name </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students; let i = index;">
        <td>{{ i + 1 }}</td>
        <td>{{ student.name }}</td>

      </tr>
    </tbody>
  </table>
</div>



<div *ngIf="addStudentFlag" class="container-fluid col-md-6">
  <table class="table" *ngIf="allStudents && allStudents.length">
    <thead>
      <tr>
        <th>S. No.</th>
        <th>Name </th>
        <th> Enroll </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of allStudents; let i = index;">
        <td>{{ i + 1 }}</td>
        <td>{{ student.name }}</td>
        <td>
          <button [attr.id]="student.id"  (click)="enrollStudent($event)"  class="btn btn-default">Enroll</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>